@import "mixins/_css3";
@import "mixins/_utils";
@import "variables/_variables";
@import "_reset";
@import "sections/home";
$font-stack: "Helvetica";
@font-face{
    font-family: "CurseCasual";
    src: url("../resources/fonts/curseCasual.ttf");
}
html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
html {
    font-family: $font-stack;
    font-size: 10px;
}
.page-full-height {
    height: 100%;
}
.curse-style{
    font-family: 'CurseCasual', 'Helvetica';
    font-size: 2rem;
}
#workspace {
    height: 100%;
    font-size: 1.5rem;
    background-color: $grayLight;
    background-image: url('../resources/imgs/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    @include transition(background 0.3s ease);
}
#slide {
    @include transition(height 0.5s ease);
}
.day-time {
    #content {
        background: #35b88f;
    }
    &#workspace {
        background-color: #35b88f;
    }
}
.night-time {
    &#workspace {
        background-color: #272787;
    }
}
#content {
    @include box-sizing();
    height: 100%;
    background: #272787;
}
.info-open {
    #content {
        @include css3-prefix(filter,
        blur(4px));
    }
}
#brand {
    @extend .curse-style;
    @include text-shadow(0, 0, 1rem, black);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-6;
    font-size: 3.5rem;
    text-decoration: none;
    padding: 2rem;
    text-transform: uppercase;
    line-height: 4rem;
    img {
        height: 2.5rem;
        width: 2.5rem;
    }
}
.section-cont {
    height: 100%;
    padding-bottom: $header-height;
    @include box-sizing();
}
.right {
    float: right;
}
.left {
    float: left;
}
