@import "mixins/_css3";
@import "mixins/_utils";
@import "variables/_variables";
@import "_reset";
@import "navigation";
@import "sections/home";
$font-stack: 'Heiti SC';
html,
body{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
html{
    font-family: $font-stack;
    font-size: 10px;
}
.page-full-height{
    height: 100%;
}
#workspace {
    height: 100%;
    font-size: 1.5rem;
}
#content {
    @include box-sizing();
    height: 100%;
    background: #272787 url('../resources/imgs/banner.svg') bottom center no-repeat;
    &.day-time {
        background: #35b88f url('../resources/imgs/banner.svg') bottom center no-repeat;
    }
}
.section-cont{
    height: 100%;
    padding-top: $header-height;
    @include box-sizing();
}
.right{
    float: right;
}
.left{
    float: left;
}
