@import "mixins/_css3";
@import "mixins/_utils";
@import "variables/_variables";
@import "_reset";
@import "navigation";
@import "sections/home";
$font-stack: 'Heiti SC';
html,
body{
    height: 100%;
    width: 100%;
    position: relative;
}
html{
    font-family: $font-stack;
    font-size: 10px;
}
.page-full-height{
    height: 100%;
}
#workspace {
    height: 100%;
    font-size: 1.5rem;
}
#content {
    @include box-sizing();
    background: #35b88f url('../resources/imgs/banner.svg') bottom center no-repeat;
    height: 100%;
}
.section-cont{
    height: 100%;
    padding-top: $header-height;
    @include box-sizing();
}
