@import "sections/info";
@import "variables/_variables";
#slide {
    position: fixed;
    width: 100%;
    height: $header-height;
    background: transparent;
    z-index: $z-4;
    bottom: 0;
}
.nav-bar {
    position: relative;
    height: 100%;
}
.nav-bar a {
    color: white;
    text-decoration: none;
}
.nav-bar .active a {
    text-decoration: underline;
}
.nav-brand {
    display: none;
    line-height: $header-height;
    float: left;
    margin: 0 2rem;
    font-size: 1.8rem;
}
.sections {
    @extend .curse-style;
    @include transform(translateY(8rem));
    @include transition(transform 0.3s ease);
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #2a9373;
}
.night-time {
    .sections {
        background-color: #1f1f6c;
    }
}
.info-open {
    #slide {
        height: 100%;
    }
    .sections {
        @include transform(translateY(0));
        @media screen and (max-width: $screen-th-2) {
            text-align: right;
        }
    }
}
.open-nav {
    .sections {
        @include transform(translateY(0));
    }
    .nav-toggle {
        @include transform(translateY(-4rem));
    }
}
.section-item {
    display: inline-block;
    line-height: $header-height;
    margin: 0 3.5rem;
    @media screen and (max-width: $screen-th-2) {
        margin: 0 1.5rem;
    }
}
.nav-toggle {
    position: absolute;
    left: calc( 50% - 4rem);
    width: 8rem;
    padding: 4rem 1rem 1.8rem 1rem;
    cursor: pointer;
    @include box-sizing();
    @include transition(transform 0.3s ease);
}
