/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.chat-msgs-box {
  position: absolute;
  bottom: 0;
  width: 110%;
  padding: 1rem calc( 10% + 1rem ) 1rem 1rem;
  overflow-y: auto;
  max-height: 100%;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.chat-msg {
  color: white;
  font-size: 1.2rem;
  border-radius: 2rem 2rem 0rem 2rem;
  clear: both;
  overflow: hidden; }
  .chat-msg .msg-cont {
    padding: 1rem 1.2rem;
    background-color: #ed3d95;
    display: inline-block;
    border-radius: 2rem 2rem 0rem 2rem;
    max-width: 60%;
    word-break: break-all;
    margin: 1rem; }
    .chat-msg .msg-cont.left {
      border-radius: 2rem 2rem 2rem 0rem;
      background-color: white;
      color: #36454f; }

.day-time .msg-cont {
  border-color: #35B88f;
  background: #35B88f; }

#info {
  background: rgba(0, 0, 0, 0.5);
  height: calc( 100% - 13rem);
  width: 90rem;
  max-width: 90%;
  margin: 5rem auto 0;
  color: white;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3rem 3rem 7rem; }

#slide-down-arrow {
  position: absolute;
  bottom: 0;
  left: calc( 50% - 4rem);
  width: 8rem;
  padding: 1.8rem 1rem 4rem 1rem;
  cursor: pointer;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.3s;
  -khtml-transition: opacity 0.3s ease 0.3s;
  -moz-transition: opacity 0.3s ease 0.3s;
  -ms-transition: opacity 0.3s ease 0.3s;
  -o-transition: opacity 0.3s ease 0.3s;
  transition: opacity 0.3s ease 0.3s;
  -webkit-transition-dalay: 0s;
  -khtml-transition-dalay: 0s;
  -moz-transition-dalay: 0s;
  -ms-transition-dalay: 0s;
  -o-transition-dalay: 0s;
  transition-dalay: 0s; }

.info-open #slide-down-arrow {
  pointer-events: auto;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }

.info-section {
  line-height: 2.5rem;
  letter-spacing: 0px; }

.info-cont {
  height: 100%;
  overflow-y: scroll; }

#slide {
  position: fixed;
  width: 100%;
  height: 8rem;
  background: transparent;
  z-index: 100;
  bottom: 0; }

.nav-bar {
  position: relative;
  height: 100%; }

.nav-bar a {
  color: white;
  text-decoration: none; }

.nav-bar .active a {
  text-decoration: underline; }

.nav-brand {
  display: none;
  line-height: 8rem;
  float: left;
  margin: 0 2rem;
  font-size: 1.8rem; }

.sections {
  -webkit-transform: translateY(8rem);
  -khtml-transform: translateY(8rem);
  -moz-transform: translateY(8rem);
  -ms-transform: translateY(8rem);
  -o-transform: translateY(8rem);
  transform: translateY(8rem);
  -webkit-transition: transform 0.3s ease;
  -khtml-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #2a9373; }

.night-time .sections {
  background-color: #1f1f6c; }

.info-open #slide {
  height: 100%; }
.info-open .sections {
  -webkit-transform: translateY(0);
  -khtml-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
  @media screen and (max-width: 500px) {
    .info-open .sections {
      text-align: right; } }

.open-nav .sections {
  -webkit-transform: translateY(0);
  -khtml-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
.open-nav .nav-toggle {
  -webkit-transform: translateY(-4rem);
  -khtml-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
  transform: translateY(-4rem); }

.section-item {
  display: inline-block;
  line-height: 8rem;
  margin: 0 3.5rem; }
  @media screen and (max-width: 500px) {
    .section-item {
      margin: 0 1.5rem; } }

.nav-toggle {
  position: absolute;
  left: calc( 50% - 4rem);
  width: 8rem;
  padding: 4rem 1rem 1.8rem 1rem;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: transform 0.3s ease;
  -khtml-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease; }

.home-cont input {
  max-width: 90%;
  display: block;
  margin: auto;
  width: 40rem;
  font-size: 2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 0;
  color: white;
  font-weight: 300;
  line-height: 3.5rem;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: top 0.3s ease;
  -khtml-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.home-cont.chat-activated input {
  top: 70%; }
.home-cont.chat-activated .chat-cont {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }
.home-cont ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }
.home-cont :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5); }
.home-cont ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5); }
.home-cont :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }
.home-cont .chat-cont {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0.3s;
  -khtml-transition: opacity 0.2s ease 0.3s;
  -moz-transition: opacity 0.2s ease 0.3s;
  -ms-transition: opacity 0.2s ease 0.3s;
  -o-transition: opacity 0.2s ease 0.3s;
  transition: opacity 0.2s ease 0.3s;
  max-width: 90%;
  width: 40rem;
  height: 60%;
  margin: auto;
  position: relative;
  top: 10%;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.2));
  background-image: -moz-linear-gradient(top, transparent, rgba(255, 255, 255, 0.2));
  background-image: -ms-linear-gradient(top, transparent, rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(top, transparent, rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(top, transparent, rgba(255, 255, 255, 0.2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', endColorStr='rgba(255, 255, 255, 0.2)');
  overflow: hidden; }
.home-cont video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%); }
  @media screen and (max-width: 1000px) {
    .home-cont video {
      display: none; } }

.day-time .home-cont .chat-cont {
  background-color: rgba(0, 0, 0, 0.3); }

@font-face {
  font-family: "CurseCasual";
  src: url("../resources/fonts/curseCasual.ttf"); }
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

html {
  font-family: "Helvetica";
  font-size: 10px; }

.page-full-height {
  height: 100%; }

.curse-style, .sections, #brand {
  font-family: 'CurseCasual', 'Helvetica';
  font-size: 2rem; }

#workspace {
  height: 100%;
  font-size: 1.5rem;
  background-color: #999;
  background-image: url("../resources/imgs/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8rem;
  -webkit-transition: background 0.3s ease;
  -khtml-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease; }

#slide {
  -webkit-transition: height 0.5s ease;
  -khtml-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease; }

.day-time #content {
  background: #35b88f; }
.day-time#workspace {
  background-color: #35b88f; }

.night-time#workspace {
  background-color: #272787; }

#content {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background: #272787; }

.info-open #content {
  -webkit-filter: blur(4px);
  -khtml-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px); }

#brand {
  text-shadow: 0 0 1rem black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  font-size: 3.5rem;
  text-decoration: none;
  padding: 2rem;
  text-transform: uppercase;
  line-height: 4rem; }
  #brand img {
    height: 2.5rem;
    width: 2.5rem; }

.section-cont {
  height: 100%;
  padding-bottom: 8rem;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.right {
  float: right; }

.left {
  float: left; }

/*# sourceMappingURL=base.css.map */
