.chat-msgs-box {
    position: absolute;
    bottom: 0;
    width: 110%;
    padding: 1rem calc( 10% + 1rem ) 6rem 1rem;
    overflow-y: auto;
    max-height: 100%;
    @include box-sizing();
}
.chat-msg {
    color: white;
    font-size: 1.2rem;
    border-radius: 2rem 2rem 0rem 2rem;
    clear: both;
    overflow: hidden;
    .msg-cont {
        padding: 1rem 1.2rem;
        background-color: #ed3d95;
        display: inline-block;
        border-radius: 2rem 2rem 0rem 2rem;
        max-width: 60%;
        word-break: break-all;
        margin: 1rem;
        &.left {
            border-radius: 2rem 2rem 2rem 0rem;
            background-color: white;
            color: $grayCharcoal;
        }
    }
}
.day-time {
    .msg-cont {
        border-color: #35B88f;
        background: #35B88f;
        &.left {}
    }
}
