.chat-msgs-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    @include box-sizing();
}
.chat-msg {
    color: white;
    font-size: 1.2rem;
    border-radius: 2rem 2rem 0rem 2rem;
    clear: both;
    overflow: hidden;
    .msg-cont {
        padding: 1rem;
        border: 2px solid #b5e64e;
        display: inline-block;
        border-radius: 2rem 2rem 0rem 2rem;
        max-width: 60%;
        word-break: break-all;
        margin: 1rem;
        &.left {
            border-radius: 2rem 2rem 2rem 0rem;
            border: 2px solid #fc2dfc;
        }
    }
}
.day-time {
    .msg-cont {
        border-color: #35B88f;
        background: #35B88f;
        &.left {
            border-color: #D96EDB;
            background: #D96EDB;
        }
    }
}
