@import "chatContainer";
.home-cont {
    input {
        max-width: 90%;
        display: block;
        margin: auto;
        width: 40rem;
        font-size: 2rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid white;
        border-radius: 0;
        color: white;
        font-weight: 300;
        line-height: 3.5rem;
        outline: none;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transition(top 0.3s ease);
        @include transform(translate(-50%, -50%));
    }
    &.chat-activated {
        input {
            top: 70%;
        }
        .chat-cont {
            @include opacity(1);
        }
    }
    @include placeholderColor(rgba(255, 255, 255, 0.5));
    .chat-cont {
        @include opacity(0);
        @include transition(opacity .2s ease 0.3s);
        max-width: 90%;
        width: 40rem;
        height: 60%;
        margin: auto;
        position: relative;
        top: 10%;
        @include background-gradient(transparent, rgba(255, 255, 255, 0.2));
        overflow: hidden;
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: $z-0;
        transform: translateX(-50%) translateY(-50%);
    }
}
.day-time {
    .home-cont {
        input {
            background: transparent;
        }
    }
}
