@import "chatContainer";
@import "../slide";
.home-cont {
    position: relative;
    #chat-input {
        font-family: inherit;
        font-weight: 600;
        max-width: 85%;
        display: block;
        margin: auto;
        width: 40rem;
        font-size: 1.8rem;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid white;
        border-radius: 0.5rem;
        color: black;
        font-weight: 300;
        line-height: 3.6rem;
        outline: none;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transition(top 0.3s ease);
        @include transform(translate(-50%, -50%));
    }
    .actions {
        height: 4rem;
        width: 40rem;
        text-align: center;
        background: transparent;
        margin: auto;
        position: absolute;
        left: 50%;
        top: calc( 75% - -1rem);
        pointer-events: none;
        display: none;
        @include opacity(0);
        @include transform(translateX(-50%));
        @include transition(opacity 0.3s ease);
        a {
            background: $red;
            display: inline-block;
            padding: 1rem;
            line-height: 3rem;
            @include circle(5rem);
            @include box-sizing();
        }
    }
    #file-input {
        display: none;
    }
    &.chat-activated {
        #chat-input {
            top: calc( 75% - 3rem);
        }
        .chat-cont {
            @include opacity(1);
        }
        .actions {
            @include opacity(1);
            pointer-events: auto;
        }
    }
    @include placeholderColor(rgba(0, 0, 0, 0.3));
    .chat-cont {
        @include opacity(0);
        @include transition(opacity .2s ease 0.3s);
        max-width: 90%;
        width: 42rem;
        height: 60%;
        margin: auto;
        border-radius: 1rem;
        position: relative;
        top: 15%;
        @include background-gradient(transparent, rgba(255, 255, 255, 0.3));
        overflow: hidden;
        &::before {
            display: none;
        }
    }
    &.unread {
        .chat-cont::before {
            content: 'Scroll down for new Messages';
            display: block;
            width: calc(100% - 16rem);
            margin: 0 8rem;
            font-size: 1.2rem;
            text-align: center;
            position: absolute;
            bottom: 5.5rem;
            line-height: 2rem;
            border-radius: 0.7rem;
            z-index: 1;
            background: orange;
            color: #4d4d4d;
            color: white;
            @include box-shadow(0px, 2px, 18px, -5px, black);
        }
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: $z-0;
        transform: translateX(-50%) translateY(-50%);
        @media screen and (max-width: $screen-th-1) {
            display: none;
        }
    }
}
.day-time {
    .home-cont {
        .chat-cont {
            @include background-gradient(transparent, rgba(255, 255, 255, 0.5));
        }
    }
}
