#info {
    background: rgba(255,255,255, 0.6);
    height: calc( 100% - 13rem);
    width: 90rem;
    max-width: 90%;
    margin: 5rem auto 0;
    color: black;
    @include box-sizing();
    padding: 3rem 3rem 7rem;
}
#slide-down-arrow {
    position: absolute;
    bottom: 0;
    left: calc( 50% - 4rem);
    width: 8rem;
    padding: 1.8rem 1rem 4rem 1rem;
    cursor: pointer;
    pointer-events: none;
    @include box-sizing();
    @include transform(rotate(180deg));
    @include opacity(0);
    @include transition(opacity 0.3s ease 0.3s);
    @include css3-prefix(transition-dalay, 0s);
}
.info-open {
    #slide-down-arrow {
        pointer-events: auto;
        @include opacity(1);
    }
}
.info-section {
    line-height: 2.5rem;
    letter-spacing: 0px;
}
.info-cont {
    height: 100%;
    overflow-y: scroll;
}
