.login-dialog {
    padding: 2.5rem;
    width: 50rem;
    clear: both;
    overflow: hidden;
    height: 100%;
    @include box-sizing();
    color: $font-color;
    font-size: 1.2rem;
    line-height: 2rem;
}
.sign-in-section {
    @include box-sizing();
    display: inline-block;
    float: left;
    padding: 1rem;
}
.sign-header {
    margin-bottom: 3rem;
}
.social-sign-in {
    width: 40%;
    padding-bottom: 14rem;
    border-right: 1px solid #ddd;
}
.social-title {
    margin-bottom: 2rem;
}
.native {
    padding: 1rem 3rem;
    width: 60%;
}
.button {}
.sign-in,
.sign-in-header {
    display: none;
}
.sign-in-active {
    .sign-up,
    .sign-up-header {
        display: none;
    }
    .sign-in,
    .sign-in-header {
        display: block;
    }
}
.control-field {
    margin: 1rem 0;
    position: relative;
    input {
        font-size: 1.2rem;
        line-height: 2rem;
        width: 100%;
        outline: none;
        font-family: "ItcMed", "Helvetica";
        border: 1px solid #aaa;
        padding: 0.1rem 0.5rem;
        @include box-sizing();
    }
    button {
        background-color: $brand-purple;
    }
    .control-error {
        display: none;
        position: absolute;
        @include circle(1.2rem);
        right: 0;
        top: 0.5rem;
        background-color: $red;
        color: white;
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: center;
    }
    &.error {
        .control-error {
            display: block;
        }
        input,
        .control-label {
            color: $red;
            border-color: $red;
        }
    }
}
@media screen and (max-width: $screen-th-2) {
    .login-dialog,
    .sign-header {
        margin-bottom: 1rem;
    }
    .login-dialog{
        width: 100%;
    }
    .social-sign-in {
        padding: 0;
        float: none;
        overflow: hidden;
        display: block;
        width: 100%;
        padding-bottom: 1rem;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    .fb {
        margin: 0.5rem 2rem;
    }
    .social-title {
        float: left;
        margin: 0;
    }
    .native {
        width: 100%;
    }
}
