<div class="sign-up-header sign-header">
    Come join and make a Wizard your Friend! Lets setup your Account.
    <span class="sign-toggle">Already have one? <a href="javascript:void(0)"  data-action="toggle-form">Login here</a></span>
</div>
<div class="sign-in-header sign-header">
    Lgin for the Magic.
    <span class="sign-toggle">Not a registered user? <a href="javascript:void(0)"  data-action="toggle-form">Sign up here</a></span>
</div>
<div class="social-sign-in sign-in-section">
    <div class="social-title">Be Lazy
        <br>Just Sign in with:</div>
    <button class="fb" data-action="facebook" data-handler="login">Facebook</button>
    <!--<button class="gplus" data-action="google" data-handler="login">Google</button>-->
</div>
<div class="native sign-in-section">
    <div class="sign-in">
        <div class="control-field">
            <div class="control-label">Email/Mobile No.</div>
            <div class="control-input">
                <input tabindex="1" type="text" />
            </div>
        </div>
        <div class="control-field">
            <div class="control-label">Password</div>
            <div class="control-input">
                <input tabindex="2" type="text" />
            </div>
        </div>
        <div class="control-field">
            <div class="control-input">
                <button  tabindex="3">Sign In</button>
            </div>
        </div>
    </div>
    <div class="sign-up">
        <div class="control-field">
            <div class="control-label">Full Name</div>
            <div class="control-input">
                <input tabindex="4" type="text" />
            </div>
        </div>
        <div class="control-field">
            <div class="control-label">Email</div>
            <div class="control-input">
                <input tabindex="5" type="text" />
            </div>
        </div>
        <div class="control-field">
            <div class="control-label">Mobile No.</div>
            <div class="control-input">
                <input tabindex="6" type="text" />
            </div>
        </div>
        <div class="control-field">
            <div class="control-label">Password</div>
            <div class="control-input">
                <input tabindex="7" type="text" />
            </div>
        </div>
        <div class="control-field">
            <div class="control-input">
                <button tabindex="8">Sign Up</button>
            </div>
        </div>
    </div>
</div>
