@import "_color.scss";
@import "_z-index.scss";

$header-height: 9rem;


$screen-th-1: 1000px;
$screen-th-2: 500px;

$day-color: #feea9f;
$night-color: #272787;

$day-img: url("../resources/imgs/day.png");
$night-img: url("../resources/imgs/night.png");