@import "_color.scss";
@import "_z-index.scss";

$header-height: 9rem;


$screen-th-1: 1000px;
$screen-th-2: 500px;

$day-color: #feea9f;
$night-color: #272787;
$font-color: #4d4d4d;
$brand-purple: #4a0d7d;
$brand-dark-purple: #37075b;

$day-img: url("../resources/imgs/day.png");
$night-img: url("../resources/imgs/night.png");