What?

supertext is an app that connects you to experts who help find/ pick up anything you want, when you 

want and deliver to your doorstep.

supertext is reimagining commerce by combining messaging and on-Demand services to help users 

access multiple services by simply texting supertext! 

How? ( With Mockups/pictures) on click/ hoverbelow text apears

1) Text us your requirements on our web-app ‘supertextnow.com’ or text/whatsapp us at 8884455506

For Eg: I want food delivered, I need to send a gift to a friend, I forgot my phone, I need a cab etc.

2) Our Chat Wizards and hustlers along with chat bots interact with Vendors/service partners to provide 

you the best option based on your location and time

3) Choose the product/ service and pay through multiple payment gateways

4) We work with multiple Delivery logistics partners along with our specialized in-house delivery team to 

ensure that you’re product/item/service is delivered anywhere in Bangalore city.

Who? (With picture)/ On click,hover short bio

Founders - Avinash hedge, Mathew Johny Padayatty and Sai krishna.

Tech- Pratik Jain, Vipul garg, Abhishek gupta, Niyati Agarwal

Design- Rhuturaje yadav and Ridhi Paul

Chat Wizards- Shaktik Kumar, Vanita Nanda kumar, Anup, Kalyan Ramjula

Contact us

Facebook | Twitter | Instagram

Text/whatsapp : 8879550433

Feedback :<email ID>