<h3>Why?</h3>

<p>We waste too much time everyday doing boring tasks that add no value to our lives.
SupertextWe want to change the way people get things done, so that you can spend more time doing things you love...
Go ahead make that masterpiece, we’ll get you the paint!</p>

<h3>What?</h3>

<p>Supertext is a disruptive chat interface that uses technology to identify, buy/ pickup and deliver anything you want on demand.</p>

<h3>How?</h3>

<p>Whatsapp 8884455506 or text us your requirements on ‘supertextnow.com’, you tell us what you like, sit back and wait for your doorbell to ring.</p>

<h3>Who?</h3>

<p><b>Machas</b> - Shaktik, Vanita, Anup, Kalyan</p>

<p><b>Tech</b> - <a href="http://scupids.com" target="_blank">Scupids</a></p>

<p><b>Design</b> - Cai and Ridhi</p>

<p><b>Founders</b> - Avinash, Matt and Sai</p>

<h3>Contact us</h3>

<p>
    <a href="https://www.facebook.com/supertextnow" , target="_blank">Facebook</a> |
    <a href="https://twitter.com/Supertextnow" , target="_blank">Twitter</a> |
    <a href="https://www.instagram.com/supertextnow" , target="_blank">Instagram</a>
</p>

<p>8884455506</p>

<p><b>Feedback</b>: engage@supertext.com</p>
