<h2>How does this work?</h2>

<p>At it's core, Supertext is a human augmented intelligence system called SuperCentral that uses customer profiling
    tools,
    hyper-local search integration and pricing algorithms to find specific options for multiple verticals. It also
    enables
    speedy interaction and fulfilment enabled by the use of AI algorithms, Optimised search and a Centralised full-stack
    vendor collaboration platform; has allowed Supertext to deliver on happy experiences and delight users with easy
    decision fulfilment.
</p>


<h2>What can I use Supertext for?</h2>
<div>You can use Supertext to</div>
<div>Choose and Deliver Gifts, cakes and flowers to friends and family.</div>
<div>Buy and deliver Food, groceries and other locally available products</div>
<div>Get Anything picked up and dropped.</div>
<div>Find Carpenter/electrician/plumber/electrician/broker</div>

<p class="italic">As we speak, the supertext team is working on on-boarding more businesses and services to make your
    life easier.</p>

<h2>Where is Supertext currently available?</h2>
<p>Supertext is currently open to Bangalore customers only.</p>

<h2>When can I use this service?</h2>
<p>Supertext is alive and kicking from 8 AM to 12:30 AM every single day of the year :)</p>

<h2>What are the service charges?</h2>
<p>Supertext charges for the items/services purchased by user and delivery cost only. We use a pricing algorithm
    to determine Delivery cost based on time, pick up location and drop location
    Chatting with Supertext is free.
</p>

<p class="italic">Feel free to reach out to us at engage@supertextnow.com for more queries</p>
<h3>Happy Supertexting!</h3>
