<video autoplay loop preload="auto" poster="app/resources/imgs/<%=fileName%>.png">
    <source src="app/resources/videos/<%=fileName%>.mp4" type="video/mp4 ">
</video>
<div class="chat-cont"></div>
<input id="chat-input" placeholder="Say Hi!!" type=text/>
<div class="actions">
    <a href="javascript:void(0)">
        <input id="file-input" type="file" />@</a>
</div>
<form name="fb_signin" id="signin" method="POST" action="" style="display:none;">
    <input type="hidden" name="scope" value="public_profile,email">
    <button id="submit" type="submit"></button>
</form>
