<h1>Terms of Use</h1>
<h3>PLEASE READ THE FOLLOWING TERMS CAREFULLY.</h3>
<div>BY DOWNLOADING, INSTALLING OR OTHERWISE ACCESSING OR USING THE APP (SUPERTEXT) OR THE SERVICE, YOU ACKNOWLEDGE THAT
    YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS, INCLUDING THE PRIVACY POLICY.
</div>
<p>By accessing or using our Service, you agree to our terms and conditions. If you are not eligible or do not agree to
    all of the Terms, you should refrain from using our services. Also SUPERTEXT has the right to change the terms &
    conditions at any time.</p>
<div>You acknowledge and agree to the following:</div>
<ul>
    <li>The App is licensed, not sold to you, and you may use the Service only as mentioned in the Terms</li>
    <li>While creating an account on SUPERTEXT, we do ask for your mobile number in order to verify your account by a
        SMS
        (short-messaging-service) and any applicable SMS fees of your mobile network operator will apply.
    </li>
    <li>Your use of the Service may be subject to separate third party terms of service and fees, including without
        limitation
        the terms of service and data, SMS, MMS, and other fees of the Carrier, which are your sole responsibility.
    </li>
    <li>The SUPERTEXT TECHNOLOGIES PVT LTD does not provide any kind of warranties regarding the service.</li>
    <li>Disputes arising hereunder will be resolved by binding arbitration, AND BY ACCEPTING THE TERMS, YOU AND
        SUPERTEXT ARE
        EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION. YOU AGREE TO GIVE UP YOUR RIGHT
        TO GO T
        O COURT to assert or defend your rights under the Terms (except for matters that may be taken to small claims
        court).
        Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury and your claims cannot be brought
        as a
        class action. Please review the Dispute Resolution and Arbitration provision below for the details regarding
        your
        agreement to arbitrate any disputes with SUPERTEXT.
    </li>
</ul>

<h3>USE OF THE SERVICE</h3>
<p>Subject to the Terms (including without limitation your compliance with the Terms), you have the limited,
    non-exclusive,
    non-transferable, non-sublicensable, revocable right to download and install a copy of the App(s) from a legitimate
    marketplace (such as Apple’s App Store or Google Play) to your mobile device, and to access and use the Service, in
    each
    case, for your own personal use. You may not: (i) copy, modify, or create derivative works of the Service (or any
    part
    thereof) for any purpose; (ii) distribute, publicly display, publicly perform, transfer, sell, sublicense, lease,
    lend,
    rent or otherwise make available the Service (or any part thereof) to any third party; (iii) decompile,
    reverse-engineer,
    disassemble or interfere with or circumvent the Service (or any part thereof), including without limitation any
    security
    or access control mechanism (except to the extent such a restriction is impermissible under applicable law); or (iv)
    use
    the Service (or any part thereof) in any unlawful manner, for any unlawful purpose, or in any manner inconsistent
    with the
    Terms.
</p>
<p>Our Service may change from time to time and/or we may stop (permanently or temporarily) providing the Service (or
    features
    within the Service), possibly without prior notice to you. Our Service may include advertisements, which may be
    targeted
    to the content or information on the Service, queries made through the Service, or from other information. The types
    and
    extent of advertising on the Service are also subject to change over time. In consideration for providing you the
    Service,
    you agree that we and our third party providers and partners may place advertising on our Service or in connection
    with
    the display of content or information on our Service.
</p>
<p>Certain features of our Service may be subject to additional terms or conditions, which will be posted with those
    features.
    Such terms and conditions are incorporated by reference into the Terms.
</p>
<p>In order to download the App, you may be required by third parties who are providing services in connection with the
    App,
    such as Apple, Inc. or Google (each, a “Service Provider”) to create an account. You are solely responsible for
    maintaining the security of any logins, passwords, or other credentials that you select or that are provided to you
    to
    access your account with any Service Provider. Your access and use of any account with a Service Provider, including
    without limitation in connection with the Service, is subject to any terms, conditions, and policies, including
    privacy
    policies, of that Service Provider. SUPERTEXT is not responsible for any act or omission of any Service Provider.
    SUPERTEXT does not provide you with the equipment to access or use the Service. You are responsible for all fees
    charged
    by third parties to access and use the Service (e.g., charges by Carriers). Without limiting the foregoing, you are
    solely responsible for the payment of all applicable fees associated with any Carrier service plan you use in
    connection
    with your access and use of the Service (such as voice, data, SMS, MMS, roaming, and other applicable fees charged
    by
    the Carrier). Accordingly, you should use care in selecting a service plan offered by your Carrier. If your device
    is
    lost or stolen, you must notify SUPERTEXT immediately to suspend services.
</p>

<h3>CREATING AN ACCOUNT</h3>
<p>In order to access and use our Services, you may need to register and create an account (your “Account”). By creating
    an
    Account, you represent that you are of legal age to form a binding contract, have not previously been suspended or
    removed from the Service and are not a person barred from receiving the Service under the laws of the applicable
    jurisdiction. When creating an Account, you may be required to provide your mobile number in order to verify your
    Account by text message. Please be aware that your Carrier’s text messaging fees apply for mobile number
    verification.
    When creating an Account, you also may be required to provide certain personal information about yourself and will
    establish a username and a password. We reserve the right to remove or reclaim a username if we believe it is
    appropriate
</p>
<p>You agree to provide and maintain accurate, current and complete information about your Account, including without
    limitation your mobile phone number. Without limiting the foregoing, in the event you change or deactivate your
    mobile phone number, you will update your Account information promptly to ensure that your messages are not sent to
    the
    person who acquires your old number.
</p>
<p>When creating an Account, don’t:</p>
<ul>
    <li>Provide any false personal information to us (including without limitation a false username) or create any
        Account for
        anyone other than yourself without such other person’s permission;
    </li>
    <li>Use a username that is the name of another person with the intent to impersonate that person;</li>
    <li>Use a username that is subject to rights of another person without appropriate authorization; or</li>
    <li>Use a username that is offensive, vulgar or obscene or otherwise in bad taste.</li>
</ul>
<p>We reserve the right to suspend or terminate your Account if any information provided during the registration process
    or
    thereafter proves to be inaccurate, false or misleading or to reclaim any username that you create through the
    Service
    that violates our Terms. You are responsible for maintaining the confidentiality of your password and Account, and
    agree
    to notify us if your password is lost, stolen, or disclosed to an unauthorized third party, or otherwise may have
    been
    compromised. You are responsible for activities that occur under your Account. If you have reason to believe that
    your
    Account (including without limitation your mobile phone) is no longer secure, then you must immediately notify us at
    <i>engage@supertextnow.com</i>
</p>

<h3>PAYMENT</h3>
<p>Access to the Service, or to certain features of the Service, may require you to pay fees to a Service Provider. If
    you
    have any questions or issues with such payments, please contact the applicable Service Provider.
</p>

<h3>PRIVACY POLICY</h3>
<p>Please refer to our Privacy Policy for information on how we collect, use and disclose information from our users.
    The
    Privacy Policy is incorporated by reference into these Terms.
</p>
<h3>CONTENT SUBMISSIONS</h3>
<p>Our Service allows you and other users to post, link, store, share and otherwise make available certain information,
    images, text and/or other content (“Content”). You are responsible for the Content that you make available to the
    Service, including without limitation its legality, reliability, and appropriateness. You retain any and all of your
    ownership rights to any Content you make available on or through the Service and you are responsible for protecting
    those rights.
</p>
<p>By making Content available on or through the SUPERTEXT App, you grant us the perpetual, irrevocable, worldwide,
    non-exclusive, royalty-free right and license (with the right to sublicense) to reproduce and distribute such
    Content
    to the intended recipient through the “SUPERTEXT” App.
</p>
<p>You can remove Content that you posted by specifically deleting it. In certain instances, however, some Content
    (such as posts or comments you make) may not be completely removed on the Service and copies of your Content may
    continue to exist on the Service and/or elsewhere. We are not responsible or liable for the removal or deletion of
    (or the failure to remove or delete) any Content on the Service.
</p>
<p>You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and to grant us
    the right and license granted in the Terms, and (ii) the posting of your Content on or through the Service does not
    violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.
</p>
<p>We ask that you respect our on-line community and other users when posting Content and using the Service. You agree
    not to:</p>
<ul>
    <li>Submit material that violates a third party’s proprietary rights, including without limitation privacy and
        publicity
        rights, or that otherwise violates any applicable law;
    </li>
    <li>Publish falsehoods or misrepresentations that could damage us, our users or any third party;</li>
    <li>Publish any private information of someone, like their address, phone number, email address, and similar
        information without their permission;
    </li>
    <li>Submit material that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful,
        racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, give rise
        to civil liability, violate any law, or is otherwise inappropriate;
    </li>
    <li>Post advertisements;</li>
    <li>Impersonate another person or represent yourself as affiliated with us, our staff or other industry
        professionals, including without limitation by use of our trademarks, service marks, logos, branding or names
        without express written authorization from us;
    </li>
    <li>Solicit a user’s password or other account information; or</li>
    <li>Harvest user names, addresses, or email addresses for any purpose.</li>
</ul>
<p>This list is an example and is not intended to be complete or exclusive. We don’t have an obligation to monitor your
    access to or use of the Service or to review or edit any Content, but we have the right to do so for the purpose of
    operating the Service, to ensure your compliance with the Terms, or to comply with applicable law or the order or
    requirement of a court, administrative agency or other governmental body. We reserve the right, at any time and
    without prior notice, to remove or disable access to any Content that we consider, in our sole discretion, to be in
    violation of the Terms or otherwise harmful to the Service.
</p>
<p>Since the Service may not always be available and your Content on the Service may not always be available, you agree
    not to rely on the Service for the purposes of Content access, storage or backup. SUPERTEXT will not be liable to
    you for any modifications, suspension or discontinuation of the Service or the loss of any Content.
</p>
<h3>CONTENT ON THE SERVICE</h3>
<p>The Content available through the Service has not been reviewed, verified or authenticated by us, and may include
    inaccuracies or false information or be offensive, indecent or objectionable. We make no representations,
    warranties,
    or guarantees in connection with our Service or any Content on the Service, including relating to the quality,
    suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole
    responsibility for and assume all risk arising from your use or reliance of any Content. If notified by a user or
    content owner that Content allegedly does not conform to the Terms, we may investigate the allegation and determine
    in our sole discretion whether to remove the Content, which we reserve the right to do at any time and without
    notice.
</p>
<h3>COPYRIGHT POLICY</h3>
<p>We do not permit copyright infringing activities and infringement of intellectual property rights on the Service and
    will remove any such Content if properly notified that such Content infringes on another’s intellectual property
    rights. If you are a copyright owner or an agent thereof and believe that any Content infringes upon your
    copyrights,
    you may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright
    Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
</p>
<ul>
    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright’s
        interest;
    </li>
    <li>A description of the copyrighted work that you claim has been infringed;</li>
    <li>A description of the material that you claim is infringing and where it is located on the Service;</li>
    <li>Identification of the URL or other specific location on the Service where the material that you claim is
        infringing
        is located;
    </li>
    <li>Your address, telephone number, and email address;</li>
    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
        owner,
        its agent, or the law;
    </li>
    <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and
        that
        you are the copyright owner or authorized to act on the copyright owner’s behalf.
    </li>
</ul>
<p>You can contact our Copyright Agent via email at info@SUPERTEXT.to</p>

<p>SUPERTEXT will promptly terminate the Accounts of users that are determined by SUPERTEXT to be “repeat
    infringers."
    A repeat infringer is a user who has repeatedly been notified of infringing activity and/or has had Content
    repeatedly removed from the Service.</p>

<h3>UNAUTHORIZED ACTIVITIES</h3>

<p>Our Service may be used and accessed for lawful purposes only. You agree that you will not do any of the
    following
    while using or accessing the Service: (i) attempt to access or search the Service or download Content from the
    Service through the use of any engine, software, tool, agent, device or mechanism (including without limitation
    spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided
    by
    us or other generally available third party web browsers; (ii) access, tamper with, interfere or use non-public
    areas of the Service, our computer systems, or the technical delivery systems of our providers, including
    without
    limitation by uploading or otherwise disseminating viruses, adware, spyware, worms, or other malicious code;
    (iii) gather and use information, such as other users’ names, real names, email addresses, available through the
    Service to transmit any unsolicited advertising, junk mail, spam or other form of solicitation; (iv) use the
    Service
    for any commercial purpose or for the benefit of any third party or in any manner not permitted by the Terms;
    (v) violate any applicable law or regulation; or (vi) encourage or enable any other individual to do any of the
    foregoing; or (vii) interfere with any user’s enjoyment of the Service, including without limitation by (a)
    making
    unsolicited offers or advertisements to other users of the Service or (b) attempting to collect, personal
    information about users or third parties without their consent. We reserve the right to investigate and
    prosecute
    violations of any of the above and/or involve and cooperate with law enforcement authorities in prosecuting
    users
    who violate the Terms
</p>

<h3>INDEMNITY</h3>

<p>You agree to indemnify and hold us and our officers, directors, employees, consultants, affiliates, subsidiaries
    and
    agents harmless from and against any and all claims, costs, damages, liabilities, and expenses (including
    without
    limitation attorneys’ fees) we incur in relation to or arising from (i) your access to or use of the Service,
    (ii) your violation of the Terms or any applicable law or regulation, (iii) your violation of any rights of any
    third party, including without limitation intellectual property rights or rights of publicity, confidentiality,
    property or privacy; or (iv) any disputes or issues between you and any third party. We reserve the right, at
    our
    own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by
    you
    (and without limiting your indemnification obligations with respect to such matter), and in such case, you agree
    to
    cooperate with our defense of such claim.
</p>

<h3>LINKS TO THIRD PARTY SITES</h3>

<p>The Service may include links to other sites and services that are not operated by us. We are providing these
    links
    to you only as a convenience and are not responsible for the content or links displayed on such sites. You are
    responsible for and assume all risk arising from your use or reliance of any third party sites. SUPERTEXT may
    provide tools through the Service that enable you to export information, including without limitation Content,
    to
    third party services. By using these tools, you agree that we may transfer such information to the applicable
    third-party service. Such third party services are not under our control, and we are not responsible for their
    use
    of your exported information.
</p>

<h3>CHANGES TO THE TERMS</h3>

<p>We reserve the right, at our discretion, to change the Terms on a going-forward basis at any time. Please check
    the
    Terms periodically for changes. In the event that a change to the Terms materially modifies your rights or
    obligations, we will make reasonable efforts to notify you of such change. We may provide notice through a
    pop-up
    or banner within the Service, by sending an email to any address you may have used to register for an Account,
    or
    through other similar mechanisms. Additionally, if the changed Terms materially modify your rights or
    obligations,
    we may require you to provide consent by accepting the changed Terms. If we require your acceptance of the
    changed
    Terms, changes are effective only after your acceptance. If you do not accept the changed Terms, we may
    terminate
    your access to and use of the Service. All other changes are effective upon publication of the changed Terms.
    Disputes arising under the Terms will be resolved in accordance with the Terms in effect at the time the dispute
    arose.
</p>

<h3>OWNERSHIP</h3>

<p>Our Service (including without limitation the App(s)) is protected by copyright, trademark, and other laws of the
    INDIA and foreign countries. Except as expressly provided in the Terms, we (or our licensors) exclusively own
    all
    right, title and interest in and to the Service (including without limitation the App(s)), including all
    associated
    intellectual property rights. Except as expressly provided in the Terms, you may not make use of the Service,
    and
    SUPERTEXT reserves all rights to the Service. You may not remove, alter or obscure any copyright, trademark,
    service
    mark or other proprietary rights notices incorporated in or accompanying the Service (including without
    limitation
    the App(s)). You acknowledge and agree that any feedback, comments or suggestions you may provide regarding the
    Service (including without limitation the App(s)) (“Feedback”) will be the sole and exclusive property of
    SUPERTEXT
    and you hereby irrevocably assign to us all of your right, title and interest in and to all Feedback.
</p>

<h3>TERMINATION</h3>

<p>If you breach any of the provisions of the Terms, your permission to use the Service will terminate
    automatically.
    Additionally, we have the right in our sole discretion to suspend or disable your access to or use of the App(s)
    and/or Service or to terminate your Account and the Terms at any time, with or without notice. You may terminate
    the Terms at any time, with or without notice, by deleting your Account and discontinuing all access to and use
    of
    the Service. If you or we terminate or delete your Account or terminate the Terms, you will promptly remove all
    copies of the App and parts thereof from your possession and control. Upon termination of the Terms, any
    provision
    that by its nature or express terms should survive will survive such termination or expiration, including, but
    not
    limited to, this sentence and the following provisions: the last paragraph of “Use of the Service,” as well as
    “Payment,” “Privacy Policy” (for information provided during the duration of the Terms), the license you grant
    in
    “Content Submissions,” “Copyright Policy,” “Indemnity,” “Links to Third Party Sites,” “Ownership,” “Limitation
    of
    Liability,” “Exclusions,” “General,” “Dispute Resolution and Arbitration,” and “Special Terms Regarding Apple.”
</p>

<h3>DISCLAIMER</h3>

<p>YOU UNDERSTAND AND AGREE THAT SERVICE (INCLUDING WITHOUT LIMITATION ANY CONTENT OR MATERIALS OFFERED THROUGH THE
    SERVICE) ARE PROVIDED TO YOU “AS IS” AND ON AN “AS AVAILABLE” BASIS. WITHOUT LIMITING THE FOREGOING, WE
    EXPLICITLY
    DISCLAIM ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR OTHERWISE, INCLUDING WITHOUT LIMITATION ANY WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES
    ARISING
    OUT OF COURSE OF DEALING OR USAGE OF TRADE. WE MAKE NO WARRANTY THAT THE SERVICE (INCLUDING WITHOUT LIMITATION
    ANY
    CONTENT OR MATERIALS OFFERED THROUGH THE SERVICE) WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN
    UNINTERRUPTED
    OR SECURE BASIS OR BE FREE OF ERRORS OR HARMFUL COMPONENTS. YOU ASSUME ALL RISK FOR ALL DAMAGES THAT MAY RESULT
    FROM
    YOUR USE OF OR ACCESS TO THE SERVICE (INCLUDING WITHOUT LIMITATION ANY CONTENT OR MATERIALS OFFERED THROUGH THE
    SERVICE) AND YOUR DEALINGS WITH OTHER SERVICE USERS.
</p>

<h3>LIMITATION OF LIABILITY</h3>

<p>OUR TOTAL LIABILITY TO YOU FROM ALL CAUSES OF ACTION AND UNDER ALL THEORIES OF LIABILITY WILL BE LIMITED. WE WILL
    NOT
    BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT
    LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO
    OR
    USE OF OR INABILITY TO ACCESS OR USE THE SERVICE (INCLUDING WITHOUT LIMITATION ANY CONTENT OBTAINED FROM THE
    SERVICE);
    (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE; OR (iii) UNAUTHORIZED ACCESS, USE OR ALTERATION
    OF YOUR
    TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING WITHOUT LIMITATION NEGLIGENCE) OR
    ANY
    OTHER LEGAL THEORY, WHETHER OR NOT WE HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>

<p>EACH PROVISION OF THE TERMS THAT PROVIDES FOR A LIMITATION OF LIABILITY, DISCLAIMER OF WARRANTIES, OR EXCLUSION
    OF
    DAMAGES IS TO ALLOCATE THE RISKS UNDER THE TERMS BETWEEN THE PARTIES. THIS ALLOCATION IS AN ESSENTIAL ELEMENT OF
    THE BASIS OF THE BARGAIN BETWEEN THE PARTIES. EACH OF THESE PROVISIONS IS SEVERABLE AND INDEPENDENT OF ALL OTHER
    PROVISIONS OF THE TERMS. THE LIMITATIONS IN THIS LIMITATION OF LIABILITY SECTION WILL APPLY EVEN IF ANY LIMITED
    REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
</p>

<h3>EXCLUSIONS</h3>

<p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability
    for
    consequential or incidental damages, so the limitations above may not apply to you.
</p>

<h3>GENERAL</h3>

<p>You may not assign or transfer the Terms or your rights hereunder, in whole or in part, by operation of law or
    otherwise, without our prior written consent. We may assign the Terms at any time without notice. Our failure to
    enforce any right or provision of the Terms will not be considered a waiver of those rights. If any provision of
    the Terms is held to be invalid or unenforceable by a court, the remaining provisions of the Terms will remain
    in
    effect. The Terms constitute the entire agreement between us regarding our Service and supersede and replace any
    prior agreements we might have between us regarding the Service.
</p>

<h3>DISPUTE RESOLUTION AND ARBITRATION</h3>

<p>In the interest of resolving disputes between you and SUPERTEXT in the most expedient and cost effective manner,
    you and SUPERTEXT agree that any and all disputes arising in connection with the Terms shall be resolved by
    binding
    arbitration. Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead
    of
    a judge or jury, may allow for more limited discovery than in court, and can be subject to very limited review
    by
    courts. Arbitrators can award the same damages and relief that a court can award. Our agreement to arbitrate
    disputes includes, but is not limited to all claims arising out of or relating to any aspect of the Terms,
    whether
    based in contract, tort, statute, fraud, misrepresentation or any other legal theory, and regardless of whether
    the
    claims arise during or after the termination of the Terms. YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THE
    TERMS,
    YOU AND SUPERTEXT ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
</p>

<h3>CONSENT TO ELECTRONIC COMMUNICATIONS</h3>

<p>By using the Service, you consent to receiving certain electronic communications from us as further described in
    our
    Privacy Policy. Please read our Privacy Policy to learn more about your choices regarding our electronic
    communications practices. You agree that any notices, agreements, disclosures, or other communications that we
    send
    to you electronically will satisfy any legal communication requirements, including without limitation that such
    communications be in writing.
</p>

<h3>ADDITIONAL TERMS</h3>

<p>Our goal is to communicate, in a timely and accurate manner, the messages that you send to and the responses you
    receive from Local Businesses. However, we have no control over, or responsibility for, the quality,
    suitability,
    safety, legality or any other aspect of any SUPERTEXT or their products or services, including the accuracy or
    reliability of their responses, and we make no representations, warranties or guarantees in connection with any
    of
    the foregoing. We do not conduct any screening or other verification with respect to SUPERTEXT, their
    representatives, products, services and responses. You acknowledge sole responsibility for and assume all risk
    arising from your communications and other interactions with the SUPERTEXT, their representatives, products,
    services and responses, including any information that you choose to provide to SUPERTEXT and their
    representatives
    through the Service. You release us and our affiliates (and our respective officers, directors, employees,
    agents
    and representatives) from any and all claims, demands and damages (actual, consequential and otherwise) of every
    kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in
    any
    way connected with any dispute between you and any business. If you feel that a response from any business is
    not
    appropriate, please contact us immediately at info@SUPERTEXT.to; however, we have no obligation to be involved
    in
    resolving any dispute between you and a business related to or arising out of the Service.
</p>

<p>At SUPERTEXT, customers get information either from the stores directly (verified stores) or through SUPERTEXT
    support team. If you see a verified symbol (blue tick) next to any store, it's the store directly answering your
    query and in all other cases, it's via the SUPERTEXT support team. Before answering any query, the SUPERTEXT
    support
    team calls and confirms with the store about the query asked. All the information provided over the platform
    reflects at that particular time and may or may not hold true. All the queries addressed when said via the
    SUPERTEXT
    support team, does not in anyway represent the stores or the vendors.
</p>

<p>You agree to be a courteous user of the Service and subject to any applicable policies of a business, to abide by
    and be fully responsible for any appointment, reservation, order or similar commitment that you make with such
    business through the Services. In addition, you agree that you are solely responsible for identifying, reviewing
    and understanding the applicable policies of any business.
</p>

<p>We don’t have an obligation to monitor, review or edit any messages that you may send to businesses or responses
    that you may receive, but we have the right to do so for the purpose of operating the Service, to ensure your
    compliance with the Terms, or to comply with applicable law or the order or requirement of a court,
    administrative
    agency or other governmental body. We reserve the right, at any time and without prior notice, to remove or not
    transmit any messages or responses that we consider, in our sole discretion, to be in violation of the Terms or
    otherwise harmful to the Service. We may set a limit on the number of messages that you may send to or responses
    that you may receive from businesses through the Service, at our sole discretion.
</p>

<p>By submitting messages through the SUPERTEXT, in addition to the rights that you grant us for any Content that
    you
    make available through the “Talk” App, you also grant us the perpetual, irrevocable, worldwide, non-exclusive,
    royalty-free right and license (with the right to sublicense) to use, modify, publicly perform, publicly
    display,
    reproduce, and distribute such messages, in whole or in part, in any media formats and through any media
    channels
    (now known or hereafter developed).
</p>

<h3>QUESTIONS & CONTACT INFORMATION</h3>

<p>The Services are offered by SUPERTEXT TECHNOLOGIES PVT LTD, located at No, 4A, 4th floor, KHB Colony, 5th Block,
    Koramangla, Bangalore– 560 095.
    Please contact us if you have any questions about our Terms. You may contact us by sending correspondence to the
    foregoing address or by emailing us at engage@supertextnow.com
</p>
<div class="date">Effective Date: December 1st, 2015</div>


